<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Material Dashboard CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/material-dashboard.css') }}">

    <!-- Favico Personalizado-->
    <link rel="icon" href="{{ url_for('static', filename='favico.ico') }}" type="image/x-icon">

    <title>Gestor de Tareas</title>
</head>
<body>
<div class="container ">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-warning text-center">
                <h1 class="card-title ">Gestor de Tareas</h1>
                <h3 class="card-title ">Editor de Tarea</h3>
            </div>

            <div class="card-body">
            <form action="/editar-tarea" method="post">
                <div class="modal-content">

                    <div class="modal-body">

                        <input type="hidden" class="form-control" id="id" name="id" value="{{ tarea.id }}">

                        <div class="form-group">
                            <input type="text" class="form-control" id="tarea" name="tarea" placeholder="Tarea"
                                   value="{{ tarea.tarea }}">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="categoria" name="categoria"
                                   placeholder="Categoria" value="{{ tarea.categoria }}">
                        </div>
                        <div class="form-group">
                            <label for="date">Fecha Expiración</label>

                            <input type="date" class="form-control" name='fechaExpiracion' id="fechaExpiracion"
                                   value="{{ fechalimite }}">
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary">Crear Tarea</button>
                        </div>
            </form>
        </div>
        </div>


    </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>


<script type="application/javascript">
    $(document).ready(function () {
        var table = $('#data').DataTable({
            responsive: true,
            autoWidth: false,
            searchBuilder: true,
            lengthChange: false,
        });
        table.searchBuilder.container().prependTo(table.table().container());
    });
</script>

<!-- datatable -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css"/>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css"/>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js" type="text/javascript"></script>


<!-- datatable searchbuilder -->
<link rel="stylesheet" href="https://cdn.datatables.net/searchbuilder/1.1.0/css/searchBuilder.bootstrap4.min.css"/>
<link rel="stylesheet" href="https://cdn.datatables.net/datetime/1.1.0/css/dataTables.dateTime.min.css"/>
<script src="https://cdn.datatables.net/searchbuilder/1.1.0/js/dataTables.searchBuilder.min.js"
        type="text/javascript"></script>
<script src="https://cdn.datatables.net/searchbuilder/1.1.0/js/searchBuilder.bootstrap4.min.js"
        type="text/javascript"></script>
<script src="https://cdn.datatables.net/datetime/1.1.0/js/dataTables.dateTime.min.js" type="text/javascript"></script>


</body>
</html>